#* models and data processing

numpy
pandas
seaborn
matplotlib
scikit-learn
ipykernel
xgboost
imbalanced-learn
sentence-transformers 
joblib
torch

#* web framework

fastapi
uvicorn
python-multipart

#* audio processing

openai-whisper

#* language detection

langdetect

#* NLP

transformers
sentencepiece
sacremoses
soundfile
pydub
pyttsx3
